<div class="fond scroll">
    
    <div menu></div>
    
    <div class="container">
        <div class="jumbotron">
                <h2 > Propierty of:</h2>
                <ul class="list-group">
                <h3><li ALIGN=center class="list-group-item ist-group-item-success"><a href="https://www.facebook.com/francisco.alvaradoferllini"target="_blank"> Francisco Alvarado Ferllini</a></li></h3>
                <h3><li ALIGN=center  class="list-group-item list-group-item-info"><a href="https://www.facebook.com/jason.leiton.31?fref=ts"target="_blank"> Jason Leitón Jiménez</a></li></h3>
                <h3><li ALIGN=center  class="list-group-item list-group-item-warning"><a href="https://www.facebook.com/jairo.mendez.7?fref=ts"target="_blank">Jairo Méndez Martínez</a></li></h3>
                <h3><li ALIGN=center  class="list-group-item list-group-item-danger"><a href="https://www.facebook.com/daniel.moya.79?fref=ts"target="_blank">Daniel Moya Sánchez</a></li></h3>
            </div> 
    <li><a href="http://www.tec.ac.cr/Paginas/index.html"target="_blank">Instituto Tecnológico de Costa Rica</a></li>
            </div>
    </div>
                
