    <div class="backgroundLogin">
        <div class="login"> 
            <h1>EPATEC Login</h1>
            <form autocomplete="off" id="myForm" method="post" ng-submit="verificar(login)">
              <input type="text" placeholder=" Login id" required="required" ng-model="login.username" value="" class="input-login" style="color:#ffffff">
              <input type="password" placeholder="Password" required="required" ng-model="login.password" value="" class="input-login" style="color:#ffffff">
              <input type="submit" class="btn btn-primary btn-block btn-large nounderline" class="input-login" value="Sign in">
                <li> <a ALIGN="center" href="#/signUp" ng-click=reload()>Sign Up </a></li>    
            </form>
        </div>
    </div>
